<div class="footer">
  <div class="container">
    <div class="logo">
      <a href="#">
        <img src="../assets/images/d’Perfumew.png" alt="">
      </a>
      <span>© 2020. All Rights Reserved.</span>
    </div>
    <div class="links">
      <ul>
        <li>Product</li>
        <li>Blog</li>
        <li>Contact</li>
      </ul>
    </div>
  </div>
</div>