<div class="header">
  <div class="container">
    <a href="./index.html">
      <img src="../assets/images/d’Perfume@2x.png" alt="d’Perfume">
    </a>
    <div class="links">
      <ul>
        <li>
          <a href="./product.html">
            <span class="material-icons">
              store_mall_directory
            </span>
            <span>Product</span>
          </a>
        </li>
        <li>
          <span class="material-icons">
            person
          </span>
          <span>log in</span>
        </li>
        <li>
          <span class="material-icons">
            favorite
          </span>
          <span>Wishlist</span>
        </li>
        <li>
          <span class="material-icons">
            shopping_cart
          </span>
          <span>Cart(3)</span>
        </li>
      </ul>
    </div>
    <div class="header-links">
      <div class="ham-cart">
        <span class="material-icons">
          shopping_cart
        </span>
        <span>3</span>                
      </div>
      <div class="ham">
        <span class="material-symbols-outlined">
          menu
        </span>          
      </div>
    </div>
  </div>      
</div>