/* $delay: 15ms;

@for $i from 1 through 4 {
  .link:hover .char#{$i} {
    transition-delay: $delay;
  }
  //increment delay
  $delay: $delay + $delay;
} */

.product-logo{
  /* border: 1px solid red; */
  width: 255px;
  height: 255px;
  /* height: calc(100vh - 56px); */
  background: center no-repeat;
  background-size: cover;
  background-position: center;
  /* position: relative; */
}
.product-logo-1{
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products1.jpg")
}
.product-logo-2{
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/index6.jpg");
  background-position: bottom;
}
.product-logo-3{
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products3.jpg");
  /* background-position: top; */
}
.product-logo-4{
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products4.jpg");
}
.product-logo-5{
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products5.jpg")
}
.product-logo-6{
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index4.jpg?raw=true");
  background-position: left;
}
.product-logo-7{
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products7.jpg")
}
.product-logo-8{
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products8.jpg")
}
.product-logo-9{
  background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/index3.png?raw=true")
}
.product-logo-10{
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products10.jpg")
}
.product-logo-11{
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products11.jpg")
}
.product-logo-12{
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/products12.jpg")
}
body{
  font-size: 20px;
  line-height: 1.5;
  font-family: SF Pro, PingFang TC, serif;
}
.container{
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 15px;
}
.header-links{
  display: none;
}
.header{
  color: #8D8D8D;
}
.header .container{
  /* border: 1px solid red; */
  /* padding: 9px 0; */
  padding-top: 9px;
  padding-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header img{
  /* border: 1px solid red; */
  max-width: 128px;
}
.header .links{
  /* display: flex; */
}
.header .links ul{
  /* border: 1px solid red; */
  display: flex;
}
.header .links li{
  /* border: 1px solid red; */
  display: flex;
  margin-right: 32px;
  cursor: pointer;
}
.header .links li:hover{
  /* border: 1px solid red; */
  color: #b4afaf;
}
.header .links li:last-child{
  margin-right: 0;
}
.header .links span{
  display: block;
  align-content: center;
}
.categories{
  background: #916000;
  padding: 14px 0;
}
.categories ul{
  display: flex;
}
.categories ul li{
  /* border: 1px solid red;   */
  margin-right: 28px;
}
.categories ul li a{
  /* border: 1px solid red;   */
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.categories ul li a:hover{
  /* color: rgba(255, 255, 255, 0.9); */
  /* border: 1px solid red;   */
  color: #503710;
}
.products .container{
  /* border: 1px solid red;   */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
}
.product{
  /* border: 1px solid red; */
  font-size: 24px;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 56px;
  width: 255px;
  /* height: 255px; */
}
.product span{
  font-size: 16px;
  font-weight: 300;
}
.product .price span:nth-child(2){
  color: #8D8D8D;
}
.icons span{
  /* border: 1px solid red; */
  color: #916019;
  font-size: 20px;
}
.pages .container{
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}
.pages .container ul{
  display: flex;
}
.pages .container ul li a{
  text-decoration: none;
  margin-right: 20px;
  color: black;
}
.pages .container ul li a:active{
  color: #AC8A46;
  text-decoration: underline;
}
.subscribe{
  height: 600px;
  background: url("https://images.unsplash.com/photo-1532413992378-f169ac26fff0?q=80&w=1900&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat;
  background-size: cover;
  background-position: center;
}
.subscribe .container{
  /* border: 1px solid red; */
  position: relative;
  height: 100%;
}
.subscribe .content{
  /* border: 1px solid red; */
  width: 350px;
  position: absolute;
  bottom: 112px;
  font-size: 32px;
  line-height: 1.5;
  color: #8D8D8D;
  font-weight: 600;
}
.subscribe .content h3{
  /* border: 1px solid red; */
  margin-bottom: 20px;
}
.subscribe .content .input{
  border: 2px solid #916000;
  display: flex;
}
.subscribe .content .input input{
  width: 219px;
  padding-left: 16px;
  border-radius: 0;
  border: 1px solid #916000;
  /* padding-right: 57px; */
}
.subscribe input:focus{
  outline: none;
}

.subscribe .content .input span{
  color: white;
  background: #916000;
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: 20px 26px;
  cursor: pointer;
}
/* footer */
.footer{
  padding: 20px 0;
  background: #916000;
  color: white;
}
.footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .logo{
  display: flex;
  align-items: center;
}
.footer .logo span{
  font-size: 14px;
  margin-left: 20px;
}
.footer .links ul{
  display: flex;
}
.footer .links ul li{
  margin-right: 36px;
  cursor: pointer;
}
.footer .links ul li:last-child{
  margin-right: 0;
}

/* // 同時定義媒體類型和媒體特性，中間需用 and 連接 */
@media screen and (max-width: 767px) {
  .container{
    /* border: 1px solid red; */
    /* margin: 0 15px; */
  }
  .header .links {
    display: none;
  }
  .header-links{
    display: block;
    display: flex;
  }
  .ham-cart{
    /* border: 1px solid red; */
    position: relative;
    margin-right: 19px;
  }
  .ham-cart span{
    display: block;
    width: 20px;
    /* font-size: 20px; */
  }
  .ham-cart span:nth-child(2){
    /* font-size: 20px; */
    /* border: 1px solid red; */
    background: #916000;
    color: white;
    position: absolute;
    top: -6px;
    right: -10px;
    font-size: 12px;
    width: 16px;
    height: 16px;
    border-radius: 7px;
    text-align: center;
    display: block;
  }
  .ham{
    /* border: 1px solid red; */
    /* width: 72px; */
    /* font-size: 72px; */
  }
  .categories{
    display: none;
  }
  .products .container{
    /* border: 1px solid red; */
    /* padding: 0; */
  }
  .product{
    /* border: 1px solid red; */
    /* width: 50%; */
    width: calc(50vw - 30px);
    /* box-sizing: border-box; */
  }
  
  .product-logo{
    background-size: cover;
    width: calc(50vw - 30px);
    height: calc(50vw - 30px);
  }
  .footer .logo{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer .links{
    display: none;
  }
  .subscribe .container{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    /* position: relative;
    height: 100%; */
  }
  .subscribe .content{
    /* border: 1px solid red; */
    position: static;
    /* width: 100%; */
  }
}